.footer-content-container {
    width: 100%;
    & .btn-more-content {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 8px;
        margin-bottom: 16px;
        font-size: 14px;
        cursor: pointer;
        & p {
            padding-right: 4px;
        }
        & .icon-more {
            display: flex;
            align-items: center;
            justify-content: center;
            animation: all 1s linear;
        }
    }
}
