.fixed-button {
    position: fixed;
    bottom: 20px; /* Điều chỉnh khoảng cách từ nút đến bottom của màn hình */
    right: 20px; /* Điều chỉnh khoảng cách từ nút đến right của màn hình */
    z-index: 999; /* Đảm bảo nút hiển thị trên top của các thành phần khác */
}

.fixed-button button {
    background-color: rgb(65, 152, 214); /* Màu nền xanh lá cây */
    color: white; /* Màu chữ trắng */
    padding: 12px 20px; /* Điều chỉnh padding để nút to hơn */
    font-size: 16px; /* Kích thước chữ */
    border: none; /* Xóa border */
    border-radius: 6px; /* Bo tròn góc */
    cursor: pointer;
}

.fixed-button button:hover {
    opacity: 0.8; /* Hiệu ứng khi hover */
}
