.child-slider {
    height: 250px;
    width: 200px;
    // background-image: "../assets/pippip-logo.png";
    background-color: #e8ebef;
    padding: 20px;

    .doctor-image {
        height: 200px;
        width: 200px;

    }
}